/* 404 Error  */
#oopss {
    background:rgb(212, 3, 3);
    position: fixed;
    left: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 1.5em;
    z-index: 9999;
}

    #texto {
        font-size: 40px;
        display:flex;
        flex-direction: column;
        align-items:center;
        font-family:'Shabnam', Tahoma, sans-serif;
        color:#000;
        direction: rtl;
    }
        img {
            margin: 85px auto 20px;
            height: 342px;
        }
        span {
            position: relative;
            font-size: 3.3em;
            font-weight: 900;
            margin-bottom: 50px;
        }

       
        
        .back { 
            background: rgb(235, 15, 15);
            color: #000;
            font-size: 20px;
            text-decoration: none;
             border-radius: 5px;
            box-shadow: 0 20px 20px 4px rgba(0, 0, 0, 0.1), inset 7px 33px 0 0px #cfcfcc;
            font-weight: 900;
            transition: all 300ms ease; 
        }
               
    